/.php_cs.cache
/.idea
/app/config/parameters.yml
/app/config/rocketeer/.passphrase
/app/config/rocketeer/.ssh_key
/app/config/rocketeer/configuration.php
/bin/rocketeer.phar
/phpunit.xml
!/.rocketeer/logs
/.rocketeer/logs/*
!.rocketeer/logs/.gitkeep
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
